<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<title>Add Flight</title>
</head>
<body>
				<h1>Add a flight</h1>
		<div class="container">
			<div class="col-md-4">
				<form th:object="${flight}" th:action="@{saveflight}" action="#" method="post">
					
						<label for="flightNumber">Flight Number:</label>
						<input type="text" id="flightNumber" name="flightNumber" class="form-control" required="required"/>
			<div style="clear: both; display: block; height: 10px;"></div>

					<label for="airports">Destination Airport:</label>
					<select id="airports" th:field="*{airport}" class="form-control" required="required">
						<option th:each="airport : ${airports}" th:value="${airport.airportId}" th:text="${airport.name}"></option>
					</select>
					<div style="clear: both; display: block; height: 10px;"></div>


					<label for="airline">Airline:</label>
					<input type="text" id="airline" name="airline" class="form-control" required="required"/>
			<div style="clear: both; display: block; height: 10px;"></div>


					<input type="submit" class="btn btn-primary" value="Save"></input>
			</form>
		</div>
	</div>
</body>
</html>