<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <title>List of airports</title>
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>All Airports</h1>
		<h1><a th:href="@{/flightlist}">All Flights</a></h1>
	</div>

	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>

	<div class="col-md-4" style="padding:20px 0">
		<span sec:authorize="hasAuthority('ADMIN')">
			<a th:href="@{/addairport}" class="btn btn-sm btn-primary">Add Airport</a>
		</span>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Code</th>
				<th>Name</th>
				<th>Flights</th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="airport : ${airports}">
				<td th:text="${airport.getCode()}"></td>
				<td th:text="${airport.getName()}"></td>
				  <td><a th:href="@{/airport/{id}(id=${airport.id})}">View Flights</a></td>
				<td sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{'/updateairport/' + ${airport.getId()}}" class="btn btn-sm btn-primary">Edit</a>
					<a th:href="@{'/deleteairport/' + ${airport.getId()}}" class="btn btn-sm btn-danger">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
