<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<title>Update Flight</title>
</head>
<body>
	<h1>Update Flight</h1>
	<div class="container">
		<div class="col-md-4">
			<form th:object="${flight}" th:action="@{/saveflight}" action="#" method="post">
				<input type="hidden" id="id" name="id" th:field="*{id}"/>
				
				<label for="flightNumber">Flight Number:</label>
				<input type="text" id="flightNumber" name="flightNumber" th:field="*{flightNumber}" class="form-control" required="required"/>
				<div style="clear: both; display: block; height: 10px;"></div>

				<label for="airports">Destination Airport:</label>
				<select id="airports" th:field="*{airport}" class="form-control" required="required">
					<option th:each="airport : ${airports}" th:value="${airport.id}" th:selected="${airport.id == id}" th:text="${airport.name}"></option>
				</select>
				<div style="clear: both; display: block; height: 10px;"></div>

				<label for="airline">Airline:</label>
				<input type="text" id="airline" name="airline" th:field="*{airline}" class="form-control" required="required"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="gate">Gate Number:</label>
				<input type="text" id="gate" name="gate" th:field="*{gate}" class="form-control" required="required"/>
				<div style="clear: both; display: block; height: 10px;"></div>
			
				<label for="departureTime">Departure Time:</label>
				<input type="datetime-local" id="departureTime" name="departureTime" th:field="*{departureTime}" th:value="${flight.get().departureTime}" class="form-control" required="required"/>
				<div style="clear: both; display: block; height: 10px;"></div>

				<input type="submit" class="btn btn-primary" value="Save"></input>
			</form>
		</div>
	</div>
</body>
</html>
